body{
    background-color:rgb(55, 146, 116);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* CSS for header og nav */

header{
    text-align: center;
    background-image: url("img/ltchr.jpg");
    background-size: cover;
    padding-bottom: 20px;
}

header nav ul {
    margin: 1rem 0 0 0;
    padding: 0;

}

header nav span a{ /*refererer til logoen vår i html så vi kan endre den*/
    font-weight: 900;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: #000;
    padding: 1rem;
    display: inline-block;

}


main{
    text-align: center;

}

main section h2{ /* det er her 'latest news' seksjonen er*/
    margin: 2rem 0;

}

article{
    max-width: 414px;
    min-width: 240px;
    width: 100%;
    margin: 0 auto;
}
main section article img{
    width: 100%;
}