*{                  /*forteller at dette skal gjelde ALT. vær VELDIG forsiktig med å bruke denne*/
    box-sizing: border-box;
}

html{
    font-size: calc(1em + 1vw); /* Denne formelen gjør teksten vår responsiv. em betyr ta utgangspunkt i pixelverdi på font-size. 1em er 16px på de fleste nettsteder. 1vw forteller at det skal være en del av visningsbredden, altså nettleservinduet. Dersom vinduet blir mindre kalkulerer den utifra det.*/
}


body{
    background-color:#3cb88e;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* CSS for header og nav */

header{
    text-align: center;
    background-image: url("img/ltchr.jpg");
    background-size: cover;
    padding-bottom: 20px;
}

header nav ul {
    margin: 1rem 0 0 0;
    padding: 0;

}

header nav span a{ /*refererer til logoen vår i html så vi kan endre den*/
    font-weight: 900;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: #000;
    padding: 1rem;
    display: inline-block;

}


main{
    text-align: center;

}

main section h2{ /* det er her 'latest news' seksjonen er*/
    margin: 2rem 0;

}

article{
    max-width: 414px;
    min-width: 240px;
    width: 100%;
    margin: 1rem auto; /* 1rem er topp og bunn, auto gjør at article blir senterjustert sideveis avhengig av skjermstørrelse*/
    background-color: #ffffff
}
main section article img{
    width: 100%;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.6rem;
}

p{
    font-size: 1.4rem;
    margin: 15px;
}

/* bruker . når vi skriver til klasser*/
.read-more-btn{
    background-color: #3b3b3b;
    color: #fff;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

#about-section{
    text-align: center;
    padding: 2rem 0;
}

#about-section p{
    text-align: justify;
    padding: 2rem;
}

#pynt{
    background-image: url("img/wp7550896.png");
    height: 300px;
    background-size: cover;
    margin: 2rem;
}

#subscribe{
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;

}

#subscribe form label, #subscribe form input{ /*dette er teksten foran input tekstfeltet for subscribe, og selve input feltet*/
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
}


footer nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

footer nav ul li a{
    padding: 0.5rem;
}

#social-media-icons{
    margin: 1rem, 0;
    padding: 0;
    text-align: center;
}


#social-media-icons li{
    color: #ffffff;
    display: inline-block;
    background-color: #000;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 40%;
}

@media only screen and (min-width: 600px){

    header nav span{
        float: left;
    }

    header nav ul{
        float:right;
        margin: 0;
    }

    header nav ul li{
        display: inline-block;
    }

    header nav{
        overflow: hidden;
    }

    main section{
        overflow: hidden;
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
    }
    main article{
        float: left;
        margin: 10px;
    }
}